.Gft {
	margin-top: 12px;
	
}

.panel-default {
	
		margin-left: 10px !important;
		margin-right: 10px !important;
	
}

body {
	background-color: white;
	
	
}

.alert {
	
	margin-left: 10px !important;
		margin-right: 10px !important;
	
}

.gft-link-panel {
	
	float: right;
	margin-bottom: 05px;
}

.aw-title-panel {
	
	float: left;
	
	
}